footer.footer
	.container
		.upfooter(class='clearfix')
			.category
				h3.category__head Category
				ul.category__items
					li.category__item 
						a.category__link(href='#') Home
					li.category__item 
						a.category__link(href='#') about us
					li.category__item 
						a.category__link(href='#') eshop
					li.category__item 
						a.category__link(href='#') Features
					li.category__item 
						a.category__link(href='#') new collections
					li.category__item 
						a.category__link(href='#') blog
					li.category__item 
						a.category__link(href='#') contact
			.account
				h3.account__head Our Account
				ul.account__items
					li.account__item 
						a.account__link(href='#') Your Account
					li.account__item 
						a.account__link(href='#') Personal information
					li.account__item 
						a.account__link(href='#') Addresses
					li.account__item 
						a.account__link(href='#') Discount
					li.account__item 
						a.account__link(href='#') Orders history
					li.account__item 
						a.account__link(href='#') Addresses
					li.account__item 
						a.account__link(href='#') Search Terms
			.support
				h3.support__head Our Support
				ul.support__items
					li.support__item 
						a.support__link(href='#') Site Map
					li.support__item 
						a.support__link(href='#') Search Terms
					li.support__item 
						a.support__link(href='#') Advanced Search
					li.support__item 
						a.support__link(href='#') Mobile
					li.support__item 
						a.support__link(href='#') Contact Us
					li.support__item 
						a.support__link(href='#') Mobile
					li.support__item 
						a.support__link(href='#') Addresses
			.newsletter
				h3.newsletter__head Newsletter
				.newsletter__text Join thousands of other people sub-<br>scribe to our news
				input.newsletter__input(type='text' value='INSERT EMAIL')
				button.newsletter__submit(type='submit') SUBMIT
				img.newsletter__paycard(src='images/paycard.png' alt='Pay cards' title='Pay cards')
			.aboutus
				h3.aboutus__head About Us
				.aboutus__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
				.aboutus__phone
					.aboutus__phone__phone Phone:
					.aboutus__phone__number 1-999-342-9876
				.aboutus__email
					.aboutus__email__email e-mail:
					.aboutus__email__number 
						a.aboutus__email__link(href='mailto:info@surfhouse.com') info@surfhouse.com
.downfooter
	.container
		.bydesigend &#169; 2014  SURFHOUSE. All rights reserved - Designed by theuncreativelab.com
		.social
			+social('facebook', 'tw', 'pinter', 'facebookplus', 't', 'insta', 'rss')