header.header
	.container(class='clearfix')
		div.logo
			a.logo__link(href='/index.html')
				img.logo__img(src='images/logo.png' alt='логотип' title='логотип')
				div.logo__text Логотип
		+social('facebook', 'tw', 'youtube', 'pinter', 'insta')
		div.welcome 
			h1.welcome__head 
				strong welcome to surfhouse
			.welcome__text 
				em The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
		.reclama
			h2.reclama__head JP Funride 
			strong.reclama__head__year 2014
			.reclama__text Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.
			button.reclama__button 
				strong BUY NOW